<html>
<head><title>Views of the School</title></head>
<body>

<font size="+1"><b>
Please refer to a different page for "Views of the School"; <p>

this page has now moved to<br>

<meta http-equiv="refresh" Content="3; 
URL=http://www.people.virginia.edu/~pm9k/wosa/views/schoolview.html">

<a href="http://www.people.virginia.edu/~pm9k/wosa/views/schoolview.html">
http://www.people.virginia.edu/~pm9k/wosa/views/schoolview.html</a><p>

<hr>
<a href="http://www.people.virginia.edu/~pm9k/wosa/wosa.html">
<img align=middle src="http://www.people.virginia.edu/~pm9k/wosa/sign1dx.gif">
WOSA page</a><br>
<a href="http://poe.acc.virginia.edu/~pm9k/gifs/Phil/phil.html">
Philip's own page</a></b></font>

<!--#include virtual="/includes/ssi_tracking.html"--></body>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-19937996-2"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments)};gtag('js', new Date());gtag('config', 'UA-19937996-2');</script></html>
